@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: black;
    display:grid;
    place-items: center;
}

.boxContainer{
    margin-top:5rem;
    font-family:'Poppins', sans-serif;
    display:flex;
}

.panel{
    width:400px;
    height:400px;
    background-color:white;
    padding:2rem;
}

.itemContainer{
    color:white;
    padding:2rem;
    width:max-content;
    background-color:hsla(0,0%,100%,.5);
}

.itemContainer__title{
    margin-bottom:1rem;
}

.itemContainer ul{
    display:flex;
    flex-direction: column;
    gap:2px;
    list-style-type: none;
}
.itemContainer ul{    
    background-color:hsla(0,0%,100%,.1);
}